html {
    scroll-padding-top: 3.5rem;
}

header {
    padding-top: 9.5rem;
}

section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

a {
    font-weight: bold;
}

nav {
    background-color: rgba(33, 37, 41, .8);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    width: 100px;
    height: auto;
}

nav .logo {
    width: 36px;
    margin-right: .5rem;
    padding-bottom: .2rem;
}

#screenshot-dm {
    height: 300px;
    overflow: hidden;
    margin-top: 2rem;
}

#screenshot-dm img {
    width: 100%;
    height: auto;
}